@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.card {
  position: relative;
  width: 349px;
  height: 431px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}
.cardcontent{
  padding: 0px 20px;
  }
.forward-side{
  transform: translateY(30px);
  opacity: 0;
  animation: slideIn 1s forwards;
}
.left-side{
  transform: translateX(-30px);
  opacity: 0;
  animation: leftSide 1s forwards;
}
.right-side{
  transform: translateX(30px);
  opacity: 0;
  animation: rightSide 1s forwards;
}


@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes leftSide {
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightSide{
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.card:nth-child(1) {
  animation-delay: 0.2s;
}

.card:nth-child(2) {
  animation-delay: 0.4s;
}

.card:nth-child(3) {
  animation-delay: 0.6s;
}

.cardimage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardheading,
.cardtext,
.cardprice,
.readmorebtn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cardheading {
  margin: 0px;
  padding-top: 10px;
  font-size: 24px;
  color: #333333;
  font-weight: 600;
}

.cardtext {
  margin-top: 10px;
  font-size: 16px;
  color: #666666;
}

.card .cardtext {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.cardprice {
  margin-top: 10px;
  font-size: 20px;
  color: #333333;
}

.btncontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.readmorebtn {
  /* margin-top: 10px; */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f43e1c;
  color: #ececec;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.readmore-btn:hover {
  color: #f43e1c;
  background-color: transparent;
  border-top: 1px solid #f43e1c;
  border-bottom: 1px solid #f43e1c;
}

.readmorebtn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.readmorebtn:hover::before {
  left: -100%;
  /* background: transparent; */
}

@media (max-width: 768px) {
  .card{
    margin-bottom: 20px;
  }
}

